@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/* .inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
