.wrapper {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  padding-block: 2rem;
}

@media (width >= 50.625em) {
  .wrapper {
    /* padding-block: 64px; */
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media (width >= 75em) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 70em;
  }
}
