:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  --background-color: var(--neutral-0);
  --text-color: var(--neutral-900);
  --block-bg: var(--neutral-0);

  --header-bg: var(--neutral-0);

  --fill-color: #091540;
}

.dark-mode {
  --fill-color: #fff;

  --background-color: var;
  --block-bg: var(--neutral-700);
  --text-color: var(--neutral-200);
  --button-bg: var(--neutral-600);
  --header-bg: var(--neutral-700);
}

html {
  font-size: 16px;
}
main {
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  font-weight: 500;
  padding: 2.5rem 0.9375rem;
}

body.dark {
  background-color: transparent;
  background-size: cover;
  background-image: linear-gradient(180deg, #040918, #091540);
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
}

p {
  line-height: 150%;
  max-width: 35ch;
}

.focus:focus-visible {
  outline: 2px solid var(--red-500);
}
