.blocks-container {
  display: grid;
  row-gap: 14px;
  column-gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--block-bg);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-color);
}

.block.none {
  display: none;
}
.block-top {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.block__text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.extension-toggle {
  background: var(--neutral-300);
  width: 40px;
  height: 20px;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: 300ms ease-in-out;
  flex-shrink: 0;
  transition-property: background, transform;
}
.circle {
  background-color: white;
  width: 45%;
  height: 100%;
  border-radius: 50%;
  transition: transform 300ms ease-in-out;
  flex-shrink: 0;
}
.extension-toggle.active {
  background: var(--red-700);
}
.extension-toggle.active .circle {
  transform: translateX(120%);
}
.extension-toggle:hover {
  cursor: pointer;
}
.remove-button {
  outline: 1px solid var(--neutral-300);
  border-radius: 15px;
  padding: 0.5rem 0.8rem;
  transition: color 0.1 ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.remove-button:hover {
  outline: none;
  background-color: var(--red-700);
  color: var(--neutral-0);
  cursor: pointer;
}

@media (width >= 48em) {
  .block {
    gap: 2.5rem;
  }
  .blocks-container {
    display: grid;
    row-gap: 14px;
    column-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 65em) {
  .block {
    height: 15rem;
  }
  .blocks-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-bottom {
    margin-top: 0rem;
  }
}
