@media only screen and (max-width: 600px){
 html{
    font-size: 14px;
 }


 main{
    margin:0 auto ;
}
.content-wrapper{
    padding:2rem;
}
figure{
    padding:0;
}

.top-image{
    border-radius: 0;
    }
}